{% set links = [
  {
    label: 'Skip to {title}'|t('app', {title: 'Main'|t('app')|lower}),
    url: '#main',
  },
  {
    label: 'Skip to {title}'|t('app', {title: 'Sidebar'|t('app')|lower}),
    url: '#sidebar-container',
  },
  {
    label: 'Skip to {title}'|t('app', {title: 'Content container'|t('app')|lower}),
    url: '#content-container',
  },
  {
    label: 'Skip to {title}'|t('app', {title: 'Details'|t('app')|lower}),
    url: '#details-container',
  },
] %}

<ul id="global-skip-links">
  {% for link in links %}
    <li>
      {{ tag ('a', {
        text: link.label,
        href: link.url,
        class: 'skip-link skip-link--global btn',
      }) }}
    </li>
  {% endfor %}
</ul>
