@charset "UTF-8";
@import '@craftcms/sass/mixins';

body,
#graphiql {
  width: 100vw;
  height: 100vh;
}

#graphiql {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  -webkit-font-smoothing: subpixel-antialiased;

  select {
    color: var(--text-color) !important;
    background-color: transparentize($inputColor, 0.75);
  }

  .CodeMirror {
    border-color: transparent;
  }
}

.graphiql-container {
  --color-base: transparent;
  --color-neutral: 219, 28%, 32%;
  --color-primary: 0 72% 45%;
}

.craft-graphiql-header {
  display: flex;
  align-items: center;
  padding-block: 8px 0;
  padding-inline: 16px;
  gap: 1.5em;
}

.craft-graphiql-title {
  margin: 0;
}

.graphiql-container .graphiql-editors {
  background-color: #fff;
  border-radius: 4px;
}

.graphiql-container .graphiql-sessions {
  // @mixins.pane
  border-radius: 5px;
  background: var(--gray-050);
  box-shadow:
    0 0 0 1px #cdd8e4,
    0 2px 12px rgb(205 216 228 / 50%);
  margin-top: 8px; // stylelint-disable-line
}

button.graphiql-execute-button:hover {
  background-color: hsl(0deg 72.41% 45.49%);
}

.graphiql-dialog-close > svg {
  padding: 0;
}
